<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angelplanets.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AngelPlanetsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".social.NotifyActivity" />
        <activity android:name=".mine.StarActivity" />
        <activity android:name=".mine.FollowerActivity" />
        <activity android:name=".store.activity.CatExcluActivity" />
        <activity android:name=".store.activity.ShopDetailActivity" />
        <activity
            android:name=".store.activity.ShoppingCartActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".store.activity.PaymentActivity" />
        <activity android:name=".store.activity.AddressActivity" />
        <activity android:name=".store.activity.AddAddressActivity" />
        <activity android:name=".store.activity.EnsurePayActivity" />

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".store.activity.PaySuccessActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.FindPwdActivity" />
        <activity android:name=".login.PerfectInformationActivity" />
        <activity android:name=".login.GenderActivity" />
        <activity android:name=".mine.OwnerInformationActivity" />
        <activity android:name=".mine.AnimalInformationActivity" />
        <activity android:name=".mine.setting.SettingActivity" />
        <activity android:name=".mine.setting.ResponseActivity"></activity>
    </application>

</manifest>
